

<ion-content class="ion-padding">
  <img class="icon" src="assets/icon/imagen.png" alt="">

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating"> Correo electronico</ion-label>
      <ion-input type="text" formControlName="email" ></ion-input>
    </ion-item>
    <app-validation [error]="loginForm.get('email').errors" [variable]="loginForm.get('email')"
    nombre="El correo electronico "></app-validation>
    <ion-item>
      <ion-label position="floating"> Contraseña</ion-label>
      <ion-input type="password"  formControlName="password"></ion-input>
    </ion-item>
    <app-validation [error]="loginForm.get('password').errors" [variable]="loginForm.get('password')"
    nombre="la Contraseña "></app-validation>
    <ion-button type="submit" expand="block" [disabled]="loginForm.invalid">Ingresar</ion-button>
  </form>
  <ion-label (click)="registro()"> Registrate </ion-label>
</ion-content>